* {
    padding: 0;
    margin: 0;
}

body {
    width: 90%;
    margin: auto;

    font-size: 1em;
    font-family: georgia, verdana, arial;
}

a {
    color: #123;
    text-decoration: none;

    border-bottom: 1px dashed #ddd;
}

a:hover {
    border-bottom: 1px solid #ddd;
}

pre, code {
    font-size: 1em;
    font-family: monospace, consolas;
}

h1 {
    font-size: 2.2em;
    color: #123;
    padding: 25px;
    padding-left: 250px;
    margin-bottom: 25px;
    border-bottom: 1px dashed #ddd;
    letter-spacing: 1px;
    word-spacing: 4px;
}

h2 {
    font-size: 1.3em;
    padding-left: 5px;
    margin-top: 15px;
    margin-bottom: 25px;
    letter-spacing: 1px;
    word-spacing: 4px;
}

h2:before {
    content: '...';
}

h3 {
    font-size: 1.2em;
}

ul.circle-list {
    list-style-type: circle;
    padding-left: 25px;
    padding-bottom: 25px;
    padding-top: 15px;
    border-top: 1px dashed #ddd;
}

ul.circle-list li {
    height: 30px;
}

ul#menu {
    position: fixed;
    top: 100px;
    left: 25px;

    list-style-type: none;
    width: 280px;
}

ul#menu li {
    height: 35px;
}

ul#menu li a {
    font-size: 1.1em;
}

div#content {
    margin-left: 250px;
    padding: 15px;
    border-left: 1px solid #ddd;
    line-height: 25px;
}

div#content p {
    padding-left: 25px;
    margin-bottom: 25px;
}

.fixed {
    background-color: darkgreen;
    color: #fff;
}

.wont-fix {
    background-color: #aaa;
    color: #fff;
}

.unknown {
    background-color: darkorange;
    color: #fff;
}

.rejected {
    background-color: darkred;
    color: #fff;
}

.in-progress {
    background-color: darkblue;
    color: #fff;
}

ul#color-desc {
    margin-left: 300px;
    margin-bottom: 50px;
    list-style-type: none;
}

ul#color-desc li {
    float: left;
    padding-right: 100px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #ddd;
}

.desc {
    display: inline-block;
    margin-right: 5px;
    border-radius: 5px;
    width: 10px;
    height: 10px; 
}

/* D Code Highlighting */

.kwrd { color: #b58900; font-weight: normal;  }
.com  { color: #93a1a1; font-style: italic; }
.num  { color: #dc322f; font-weight: normal;  }
.str  { color: #2aa198; font-style: italic; }
.op   { color: #586e75; font-weight: normal;  }
.type { color: #268bd2; font-weight: normal;  }
.cons { color: #859900; font-weight: normal;  }